
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Prata&display=swap');
.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}
body{
  font-family: 'Lato', sans-seif;
  font-weight: 300;
  color: #5D6A72;
  background-color: #fff;
  font-size: 1.17rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prata', serif;
  color: black;
}
.image-right {
  float: right;
  margin-left: 25px;
  margin-bottom: 15px;
}
.navbar-brand {
  font-family: 'Prata', serif;
  font-size: 2.2rem;
}
.nav-item {
  padding: 20px 25px;
  letter-spacing: 2.5px;
}
.nav-link {
  font-weight: 400;
  font-size: 1rem;
}
.nav-item:hover {
  background-color: #5b1ee1;

}
.nav-item:hover > a {
    color: #fff !important;
}
.nav-item.active  {
  background-color: #5b1ee1;
}
.nav-link.active {
  color: #fff !important;
}
nav {
  padding-top:0px !important;
  padding-bottom:0px !important;
}
.btn-outline-primary {
color: #5b1ee1;
border-color: #5b1ee1;
}
.btn-outline-primary:hover {
  background-color: #5b1ee1;
  border-color: #5b1ee1;
}

a {
  color: #5b1ee1;
}
a:hover {
  color: #1B0943;
}
.lead {
  font-size: 150%;
}
