#main_IGdiv {
	font-size: 0;
	min-width: 200px;
	position: relative;
}

.imgG-list {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
}

.imgG-show {
	position: relative;
	float: left;
	padding: 12px 12px 7px 12px;
	display: none;
}

.imgG-current-img {
	width: 50%;
	min-width: 180px;
	float: left;
	margin: 0 12px 8px 0;
	opacity: 1 !important;
}

#imgG-close {
	position: absolute;
	top: 4px;
	right: 14px;
	cursor: pointer;
	float: right;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.imgData {
	display: inline;
	padding: 10px;
	word-wrap: normal;
	text-align: left;
}

.boxTitle {
	padding: 0 0 2%;
	margin-right: 0.1vw;
	line-height: 1;
	margin-top: -3px;
}

.imgStyle {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100px;
	max-width: 100%;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.thTitle {
	position: absolute;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 5px;
	visibility: hidden;
	word-break: break-word;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

#linkButton {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5%;
	transition: background 0.2s ease 0s;
	float: left;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

#btnBox {
	margin-top: 5%;
	float: right;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.navButtons {
	float: left;
	cursor: pointer;
	padding: 0px;
	margin-right: 0.1vw;
	margin-top: -1px;
}

#btnNext { margin-right: 0.1vw; }
#btnPrev { margin-right: 1.5vw; }

.active_th {opacity: 1;}

.over {
	transition: opacity 0.2s ease 0s;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
