{{- $type := .Get "type" | default "info" -}}
{{- $message := .Get "message" | default (.Inner | markdownify) -}}

{{- $classes := "border-blue-200 bg-blue-50 text-blue-900" -}}
{{- $svgPath := "M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" -}}

{{- if eq $type "warning" -}}
  {{- $classes = "border-amber-200 bg-amber-50 text-amber-900" -}}
  {{- $svgPath = "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-2.5L13.732 4c-.77-.833-1.732-.833-2.5 0L4.268 16.5c-.77.833.192 2.5 1.732 2.5z" -}}
{{- else if eq $type "error" -}}
  {{- $classes = "border-red-200 bg-red-50 text-red-900" -}}
  {{- $svgPath = "M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" -}}
{{- else if eq $type "success" -}}
  {{- $classes = "border-green-200 bg-green-50 text-green-900" -}}
  {{- $svgPath = "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" -}}
{{- end -}}

<div role="alert" class="alert-shortcode flex items-start gap-3 rounded-lg border p-4 {{ $classes }}">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ $svgPath }}"/>
  </svg>
  <span>{{ $message }}</span>
</div>
